*{    margin:0%;
    padding:0%; 
    font-family: roboto,Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:700;
}
body{
    justify-content: center;
}
header{
    background-color:#f38e59;
}
nav{
    display:flex;
    justify-content: space-evenly;
    color:white;
    padding:10px;
    align-items: center;
    position: fixed;
  top: 0;
  width: 100%;
  background-color: #f38e59;
}
.align
{
    align-content:center;
}
form{
    display:flex;
    flex-direction: column;
}
.button {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 13px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }
.button2 {
    background-color: #FF8553; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border-width: 10px;
    border-color: white;
    border: 4px solid;
  }
h1{
    padding-top: 170px;
    text-align: center;
    color:white;
    font-size:57px;
}
.st{
    text-align: center;
    padding-bottom: 80px;
}
.asection{
text-decoration: none;
color:#ec6a3693;
font-weight:bold;}
.ulnav{
    display:flex;
    justify-content: space-evenly;

}
li{
    margin: 0px 20px;
    list-style: none;
}
h2{
    font-size:27px;
    color:rgb(58, 178, 226);
    font-weight: bold;
    font-size:35px;
    margin-bottom: 30px;
}
h3{
    font-size:25px;
    margin-bottom: 50px;
}
main{
    
    display: flex;
    justify-content: center;
}
section{
    max-width:500px;
    margin:5%;
}
input{
    width:450px;
height: 40px;
padding-bottom: 15px;
margin-bottom: 15px;
border-radius:5px;
border: 2px solid #a89e9ecc}

.message
{
    padding-bottom: 30%;
}
.submit{
    display:flex;
    margin-left: 330px;
    font-size:20px;
    background-color:#FF8553;
    color:white;
    font-weight: bold;
    border: 15px;
    border-radius: 5px;
    size:30px;
    padding: 15px 30px;
    width:120px;
    height: 60px;
}
.psp{
    margin-bottom: 15px;
    font-size:19px;
    margin-left: 15px;
    font-weight:500;
    color:rgba(51, 51, 51, 0.664);

}
.psep{
    margin-bottom:20px;
    font-size:20px;
    font-weight: 500;
}
footer{
    background-color:#404040;
    color:rgb(255, 251, 251);
    display:flex;
    justify-content: center;
    height: 320px
}
.flex{
    display:flex;
    margin-bottom: 30px;
}
.end{
    display: flex;   
    background-color:#333;
    color:grey;
    padding:1%;
}
.ulf{
    padding:30px 20px;
}
i{ 
color:#FF8553;
font-size:25px;
}
.button3 {
    background-color: rgb(2, 43, 63); 
    border: none;
    color: white;
    padding: 20px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 8px;
  }
.cm
{
    margin:15% 10%;
    display:flex;
    
    justify-content:space-between;
}
li{
    margin-bottom: 10px;
    color:grey;
    text-align: start;
    font-size:16px;
}
.fcw{
    color:white;
}
@media (max-aspect-ratio: 6/5){

    main{
       flex-flow: column;
    }
    .ulnav{
        display:none;
    }
    footer{
        display:block;
        padding-bottom: 270px;
    }
    .ulf{
        display:flex;
        flex-wrap: wrap;
        justify-content:space-around;
        margin:0%;
        padding:0%;
    }
    .fcw{
        color:rgb(240, 230, 230);

    }
    .end{
        display: flex;   
        background-color:#333;
        color:grey;
        padding:1%;
    }
}